#img-accueil {
    width: 100%;
    height: 35vh;
    background-image: url(../img/bovis-shark.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#titreHeader {
    font-size: 5rem;
    padding-top: 2rem;
    color: chartreuse;
    text-shadow: 0 0 5px rgb(151, 228, 75), 0 0 10px rgb(82, 134, 30), 0 0 15px rgb(50, 85, 15);
}

.typo-specialelite {
    font-family: 'Special Elite', cursive;
}

#id-main {
    background: rgb(4, 22, 36);
    background: linear-gradient(90deg, rgba(4, 22, 36, 1) 0%, rgba(3, 43, 71, 1) 50%, rgba(4, 22, 36, 1) 100%);
}

#id-workarea {
    background: rgb(75, 113, 142);
    background: linear-gradient(90deg, rgba(75, 113, 142, 1) 0%, rgba(114, 166, 207, 1) 50%, rgba(75, 113, 142, 1) 100%);
}

.preview {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}

.foot {
    background: rgb(75, 113, 142);
    background: linear-gradient(90deg, rgba(75, 113, 142, 1) 0%, rgba(114, 166, 207, 1) 50%, rgba(75, 113, 142, 1) 100%);
}

#uploadImput {
    padding: 1rem;
    border-radius: 8px;
    border: solid 2px rgb(82, 134, 30);
    background-color: chartreuse;
}

.btn-perso{
    padding: 1rem;
    border-radius: 8px;
    border: solid 2px rgb(82, 134, 30);
    background-color: chartreuse;
}
.btn-deco{
    padding: 0.5rem 1rem;
    border-radius: 8px;
    /* color: chartreuse; */
    border: solid 2px #0d4662;
    background-color: #0f8dcc;
}

.vignetteGallery {
    height: 10rem;
    width: auto;
}
.bottom-header{
    position: absolute;
    bottom: 5px;
    right: 12%;
}